<footer class="page-footer">
    <div class="container">
        <div class="row">
			<h4 class="footer-heading"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h4>
			<p class="footer-description">{{ site.description }}</p>
        </div>
        <div class="row">
            <div class="site-nav">
                <nav class="menu menu-horizontal">
                <ul class="menu-list">
                    {% for page in site.pages %}
                        {% if page.title and page.id != 404 %}
                            <li class="menu-item">
                                <a class="menu-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </nav>
            </div>

        </div>
    </div>
</footer>
